body {
    background-image: url('./images/background.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    overflow: hidden;
    margin: 0;
}

.app {
    display: flex;
    width: 100vw;
    height: calc(100vh - 20px);
    color: white;
}

.column-left {
    width: 70%;
    margin: 20px;
}

.column-right {
}

.status-bar {
    height: 25px;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    font-size: 14px;
    z-index: 2;
    color: white;
    border-top: 1px solid #4e4e4e;
}

.status-bar .messages {
    display: flex; justify-content: space-between; width:100%
}
.status-bar .messages p {
    margin-left: 10px;
    margin-right: 8px;
}
